@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');

* {
    font-family: 'roboto';
}



.app-container.sidebar-hidden {
    grid-template-columns: 0px 1fr;
}


.sidebar {
    overflow: hidden;

}







.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    max-height: 100vh;    
    overflow-y: auto;    
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    
}
.modal::-webkit-scrollbar {
    width: 0px;
}


.modal-content {
    background-color: rgb(255, 255, 255);
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    max-width: 1100px;
    position: relative;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.recipe-name{
    text-align: center;
}

#recipe-container {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;

}
.ulFlex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
}
.ulFlex li{
    color: #555;
    margin-bottom: 3px;
    font-size: 0.95rem;
}

.modal p{
    line-height: 1.3;
    color: #333;
}



.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    padding: 12px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;


}

.card:hover{
    transform: scale(1.02);
}


.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;

    border-radius: 15px;

}


.app-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    /* background-color: #ffffff; */
    /* box-shadow: 0 2px 10px rgba(0,0,0,0.1);  */
}

.sidebar {
    background-color: #ffffff;
    margin-left: 20px;
    overflow: scroll;
    height: 86dvh;
    overflow-x: hidden;


}

.sidebar::-webkit-scrollbar {
    width: 1px;
}


.sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.view-btn {
    border: none;
    padding: 13px 15px;
    width: 100%;
    border-radius: 15px;
    color: rgb(249, 252, 254);
    transition: opacity 1s;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 900;

}

.view-btn:hover {
    opacity: 0.6;
}

.card-h3 {
    height: 35px;
    color: rgb(29, 69, 100);
    font-size: 1.4rem;
    text-align: center;
}

.icon-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    transition: background 1s;
}

.icon-btn:hover {
    background-color: #ddd;
}

#searchInput {
    width: 800px;
    height: 60px;
    border-radius: 50px;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    border: none;
    padding-left: 30px;
    font-size: 1rem;

}

#searchInput::placeholder {
    padding-left: 10px;
}

#searchBtn {
    border: none;
    font-size: 1rem;
    padding: 10px;
    height: 60px;
    width: 90px;
    border-radius: 50px;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background 1s;
    margin-left: 5px;
}

#searchBtn:hover {
    background-color: #ddd;
}

.logo {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    border-radius: 50px;
    font-family: 'Yellowtail';
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.5s, transform 1s;
    user-select: none;

}

.logo:hover {
    background-color: #ddd;
}
.logo:active {
    transform: scale(0.95);
    background-color: #ddd;
}

.content-area h2 {
    margin-left: 28px;
    color: rgb(29, 69, 100);

}

.filterbtn {
    
    height: 50px;
    margin: 5px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: rgb(250, 255, 227);
    color: rgb(29, 69, 100);
    font-weight: 500;
    font-size: 11px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    min-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;


}

.filterbtn:hover{
    background-color: greenyellow;

}
.filterbtn:active {
    transform: scale(0.95);
    background-color: #c8e6c9;
}
.filterbtn:link{
    background-color: aqua;
}



/* responsive */

@media (max-width: 1230px){
    #searchInput {
    width: 550px;
    height: 60px;
    }

}
@media (max-width: 970px){
    #searchInput {
    width: 350px;
    height: 60px;
    padding-left: 10px;
    font-size: 0.7rem;
    }



}

@media (max-width: 790px){
    #searchInput {
    width: 230px;
    height: 60px;
    }



}


@media (max-width: 665px){
    #searchInput {
    width: 150px;
    height: 50px;
    }

    
#searchBtn {
    border: none;
    font-size: 0.7rem;
    padding: 8px;
    height:  50px;
}

.logo{
    font-size: 0.9rem;
     padding: 15px 20px;
   
}
.icon-btn{
    font-size: 24px;
}

.ulFlex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.filterbtn{
    min-width: 20px;
    font-size: 0.6rem;
}
.sidebar h2{
    font-size: 1.2rem;
}
.filter-group h4{
    font-size: 0.8rem;
}

#recomText{
    font-size: 0.8rem;
}

}

@media (max-width: 540px){
    .main-header{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(110px,300px));
        gap: 20px;
    }

    .icon-btn{
    font-size: 20px;
    width: 60px;
    background-color: white;
}
.logo{
    
     padding: 15px 20px;
     width: 70px;
     background-color: white;
   
}
.main-header{
     background-color: #f8f1f1; 
     border-radius: 20px;
}
.ulFlex{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.app-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
}
.sidebar{
    margin: 2px;

}


}


@media(max-width:500px){
    .app-container {
   
    grid-template-columns: 80px 1fr;
   
}
#recipe-container {
    

    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
   

}
.filterbtn{
    max-width: 40px;
    font-size: 0.5rem;
}






}




@media (max-width: 338px){
    #searchInput {
    width: 140px;
    height: 45px;
    }

    #searchBtn {
    border: none;
    font-size: 0.7rem;
    padding: 8px;
    height:  45px;
    width: 70px;

}


}